</!DOCTYPE html>
<html>
    <head>
        <title>FIR GENERATION</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script type="text/javascript" src="/stylesheets/demo.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-light bg-light fixed-top" style="position: sticky; height: 5rem">
        <div>
          <img class="img-responsive" style="width: 7em;height: 4em;"  src = "firgenlogo.jpg" alt="No" />
          <a class="navbar-brand" href="#">FIRGEN</a>
        </div>
          
        
        <div style="justify-content: space-around;display: flex;" >
            <div class="mr-3" style="margin: auto;">Signed in as <%=currentuser.uniqueid %></div>
            <a class="btn btn-outline-danger" style="color: #ff4b2b; height: 100%;" href="/logout">LogOut</a>
        </div>
      </nav>
      
      