</!DOCTYPE html>
<html>
    <head>
        <title>FIR GENERATION</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script type="text/javascript" src="/stylesheets/demo.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-light bg-light fixed-top" style="position: sticky;">
        <div>
          <img class="img-responsive" style="width: 7em;height: 4em;"  src = "firgenlogo.jpg" alt="No" />
          <a class="navbar-brand" href="#">FIRGEN</a>
        </div>
          
        
        <form class="form-inline">
          <a class="pt-2 mr-3" href="/login">LOGIN</a>
          <a class="pt-2 mr-3" href="/register">REGISTER</a>
        </form>
      </nav>
      