<%- include('partials/header'); %>

<br />
<div class="container">
  <a href="/" class="btn btn-primary"><< HOME PAGE!</a>
</div>

<div class="container">
  <h1 style="text-align: center;">APPLICATION FORM</h1>
  <br />
  <p name="appliation[fileno]"></p>
  <p name="appliation[success]"></p>
  <form
    class="ml-3 mr-3"
    action="/my"
    enctype="multipart/form-data"
    method="POST"
  >
    <p>Date/Time: <span id="datetime"></span></p>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="name">Full Name</label>
        <input
          type="text"
          class="form-control"
          name="application[name]"
          id="name"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="application[email]"
          id="email"
          required
        />
      </div>
      <div class="form-group col-md-4">
        <label for="mobile">Mobile No.</label>
        <input
          type="number"
          class="form-control"
          name="application[mobile]"
          id="mobile"
          required
        />
      </div>
      <div class="col-md-4">
        <label for="aadhar">Aadhar No.</label>
        <input
          type="number"
          class="form-control"
          name="application[aadhar]"
          id="aadhar"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea
        type="text"
        class="form-control"
        name="application[address]"
        id="address"
        rows="4"
        required
      ></textarea>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="district">District</label>
        <input
          type="text"
          class="form-control"
          name="application[district]"
          id="district"
          required
        />
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <input
          type="text"
          class="form-control"
          name="application[state]"
          id="state"
          required
        />
      </div>
      <div class="form-group col-md-2">
        <label for="pin">Pin Code</label>
        <input
          type="number"
          class="form-control"
          name="application[pin]"
          id="pin"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="crime">Type Of Crime</label>
        <input
          type="text"
          class="form-control"
          name="application[type]"
          id="crime"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="date_incident">Date & Time of Incident</label>
        <input
          type="datetime-local"
          class="form-control"
          name="application[date]"
          id="date_incident"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="details">Details Of Incidence</label>
        <textarea
          type="text"
          class="form-control"
          name="application[details]"
          id="details"
          rows="5"
          required
        ></textarea>
      </div>
    </div>
    <br />
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="suspect">Suspects</label>
        <textarea
          type="text"
          class="form-control"
          name="application[suspect]"
          id="suspect"
          rows="2"
          required
        ></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="witness">Witness</label>
        <textarea
          type="text"
          class="form-control"
          name="application[witness]"
          id="witness"
          rows="2"
          required
        ></textarea>
      </div>
    </div>

    <!-- <label class="custom-file-label" for="file">Upload Your Signature:</label>    -->
    <!-- <input type="file" name="application[file]" class="custom-file-input" id="fisle"/> <br>  -->
    <div class="custom-file mb-3 m-auto">
      <input
        type="file"
        name="application[file]"
        id="file"
        class="custom-file-input"
        required
      />
      <label for="file" class="custom-file-label">Upload Your Signature</label>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check" required />
        <label class="form-check-label" for="check">
          I agree that all the information provided above are true to the best
          of my knowledge.
        </label>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      style="margin: auto; display: block;"
    >
      Submit
    </button>
  </form>
</div>

<%- include('partials/footer'); %>
