<%- include('partials/header'); %>

<div class="container">
  <br />
  <div class="container">
    <a href="/" class="btn btn-primary"><< HOME PAGE!</a>
  </div>
  <h1 style="text-align: center;">CANCEL FORM</h1>
  <div style="width: 60%; margin: 30px auto;">
    <h2>
      If you want to cancel the FIR, you must understand that the Police cannot
      take back an FIR, it can be done only in the courts. You must appear in
      the court and express your intention to compound the offence, either to
      the judge or to the lawyer of opposing party or to the court officials who
      are present.
    </h2>
    <a
      class="btn btn-info btn-lg btn-block mt-5"
      style="text-align: center;"
      href="https://www.quora.com/How-do-I-cancel-an-FIR-and-do-I-have-to-pay-for-its-cancellation-If-so-then-to-whom-the-police-or-the-court"
    >
      LEARN MORE
    </a>
  </div>
</div>

<%- include('partials/footer'); %>
