<%- include('partials/header'); %>


<div class="container mt-5">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Failure!</h4>
    <p>Wrong OTP Entered.</p>
    <hr>
    <a href="/apply" class="btn btn-dark">Refill the application form</a>
    <a href="/" class="btn btn-dark">Go to home page</a>
  </div>
</div>


<%- include('partials/footer'); %>