</!DOCTYPE html>
<html>

<head>
  <title>FIR GENERATION</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/loginregister.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div>
    <% if(success&&success.length>0){ %>
    <div class="alert alert-success" role="alert">
      <%=success%>
    </div>
    <% } if(error&&error.length>0){ %>
    <div class="alert alert-danger" role="alert">
      <%=error%>
    </div>
    <% } %>
  </div>


  <div class="container login" id="container">
    <div class="form-container sign-up-container">

      <form action="/register" method="POST">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social"><i class="fa fa-google"></i></a>
          <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="email" placeholder="Email" name="username" />
        <input type="text" placeholder="UserName" name="uniqueid" />
        <input type="password" placeholder="Password" name="password" />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">

      <form action="/login" method="POST">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social"><i class="fa fa-google"></i></a>
          <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
        </div>
        <span>or use your account</span>
        <input type="email" placeholder="Email" name="username" />
        <input type="password" placeholder="Password" name="password" />
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>Login here with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>New User?</h1>
          <p>Enter your personal details to get signed up</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/stylesheets/loginregister.js"></script>
</body>

</html>