<%- include('partials/header'); %>

<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>FIR form generated successfully. Go to the dasboard to download it.</p>
    <hr>
    <a href="/my" class="btn btn-success">My Dashboard</a>
  </div>
</div>




<%- include('partials/footer'); %>