<%- include('partials/header'); %>

<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <h5>Application No: <%= appno %></h5>
    <p>FIR application generated successfully. Go to the dasboard to download it.</p>
    <hr />
    <a href="/my" class="btn btn-success">My Dashboard</a>
    <a href="/" class="btn btn-success">Go To Home Page</a>
  </div>
</div>

<%- include('partials/footer'); %>
